.editor {
  position: absolute;
  top: 15%;
  left: 50%;
  width: 60%;
  height: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 50;
}
.focuseditor {
  color: transparent !important;
  background-color: transparent;
  border-color: transparent;
}
.ce-block--focused {
}
.codex-editor:nth-child(2) {
  display: none;
}
