.starry {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  z-index: 0;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 537px 1974px #fff, 824px 1829px #fff, 279px 1279px #fff,
    1296px 663px #fff, 1271px 1678px #fff, 1450px 739px #fff, 39px 1257px #fff,
    1408px 1225px #fff, 1907px 764px #fff, 1473px 1213px #fff,
    1566px 1296px #fff, 42px 1712px #fff, 323px 836px #fff, 1515px 192px #fff,
    1973px 819px #fff, 1318px 1420px #fff, 214px 1761px #fff, 1182px 1036px #fff,
    674px 668px #fff, 1224px 1663px #fff, 1645px 492px #fff, 105px 1369px #fff,
    541px 1463px #fff, 59px 1966px #fff, 348px 978px #fff, 943px 1779px #fff,
    804px 912px #fff, 799px 1168px #fff, 149px 498px #fff, 607px 1005px #fff,
    1304px 1997px #fff, 1606px 1317px #fff, 1332px 833px #fff, 739px 1648px #fff,
    374px 867px #fff, 812px 798px #fff, 454px 324px #fff, 1814px 1381px #fff,
    1069px 290px #fff, 1052px 125px #fff, 959px 1663px #fff, 1657px 1597px #fff,
    80px 1008px #fff, 1246px 847px #fff, 28px 258px #fff, 1986px 547px #fff,
    845px 1253px #fff, 1300px 1190px #fff, 398px 119px #fff, 1075px 158px #fff,
    322px 266px #fff, 1047px 349px #fff, 652px 1154px #fff, 480px 1634px #fff,
    1956px 772px #fff, 1622px 1316px #fff, 1916px 343px #fff, 454px 461px #fff,
    89px 336px #fff, 1690px 397px #fff, 1720px 1420px #fff, 896px 1673px #fff,
    932px 1655px #fff, 1305px 201px #fff, 1956px 1443px #fff, 331px 712px #fff,
    1371px 1000px #fff, 653px 1795px #fff, 1643px 649px #fff, 1400px 1034px #fff,
    1961px 1094px #fff, 1685px 1972px #fff, 1591px 240px #fff, 526px 22px #fff,
    166px 1416px #fff, 1066px 1421px #fff, 879px 114px #fff, 613px 1933px #fff,
    1135px 1152px #fff, 1684px 523px #fff, 702px 1421px #fff, 87px 942px #fff,
    474px 1566px #fff, 11px 173px #fff, 614px 157px #fff, 1394px 1789px #fff,
    210px 752px #fff, 57px 769px #fff, 1975px 1456px #fff, 1849px 1072px #fff,
    966px 562px #fff, 980px 1539px #fff, 1810px 1406px #fff, 1044px 298px #fff,
    1090px 389px #fff, 656px 814px #fff, 1942px 1590px #fff, 1987px 486px #fff,
    1869px 651px #fff, 93px 1759px #fff, 660px 33px #fff, 787px 1950px #fff,
    1430px 900px #fff, 1041px 1022px #fff, 796px 727px #fff, 1736px 602px #fff,
    165px 998px #fff, 1682px 721px #fff, 1797px 1156px #fff, 16px 726px #fff,
    1832px 1455px #fff, 156px 1659px #fff, 274px 390px #fff, 158px 944px #fff,
    88px 1247px #fff, 1946px 1176px #fff, 1270px 1069px #fff, 248px 1888px #fff,
    335px 1506px #fff, 334px 1123px #fff, 100px 1902px #fff, 1773px 698px #fff,
    1765px 844px #fff, 658px 255px #fff, 1177px 738px #fff, 614px 390px #fff,
    1593px 1084px #fff, 957px 1456px #fff, 810px 768px #fff, 237px 1018px #fff,
    112px 1151px #fff, 1071px 635px #fff, 1939px 1624px #fff, 1858px 150px #fff,
    1957px 1556px #fff, 1831px 1715px #fff, 1377px 1128px #fff, 559px 102px #fff,
    1193px 1403px #fff, 1564px 1769px #fff, 1433px 1825px #fff,
    910px 1816px #fff, 130px 29px #fff, 267px 601px #fff, 524px 1022px #fff,
    283px 1393px #fff, 697px 162px #fff, 1450px 1573px #fff, 130px 1366px #fff,
    328px 1188px #fff, 1949px 1462px #fff, 1397px 1543px #fff, 1667px 701px #fff,
    528px 686px #fff, 1786px 1562px #fff, 190px 190px #fff, 1404px 1343px #fff,
    606px 889px #fff, 1673px 1343px #fff, 1048px 1938px #fff, 1127px 1781px #fff,
    1751px 1098px #fff, 832px 68px #fff, 366px 1673px #fff, 857px 335px #fff,
    1639px 469px #fff, 1383px 76px #fff, 694px 682px #fff, 1083px 1816px #fff,
    815px 1350px #fff, 1864px 642px #fff, 248px 224px #fff, 1474px 1703px #fff,
    68px 1453px #fff, 1525px 1427px #fff, 380px 1244px #fff, 761px 765px #fff,
    350px 1902px #fff, 1986px 1937px #fff, 239px 1355px #fff, 781px 1337px #fff,
    335px 122px #fff, 645px 339px #fff, 1449px 753px #fff, 987px 1152px #fff,
    1706px 1512px #fff, 1008px 154px #fff, 1695px 1748px #fff,
    1629px 1065px #fff, 811px 1483px #fff, 1814px 363px #fff, 1714px 1451px #fff,
    595px 1950px #fff, 1474px 1133px #fff, 420px 666px #fff, 273px 890px #fff,
    1698px 1299px #fff, 374px 1370px #fff, 1592px 797px #fff, 414px 1388px #fff,
    1507px 795px #fff, 1304px 140px #fff, 1505px 1366px #fff, 225px 514px #fff,
    997px 745px #fff, 1072px 795px #fff, 1266px 279px #fff, 1799px 763px #fff,
    336px 1395px #fff, 481px 1376px #fff, 790px 1107px #fff, 708px 1856px #fff,
    276px 1047px #fff, 1226px 1846px #fff, 458px 1454px #fff, 1770px 1755px #fff,
    415px 1685px #fff, 376px 1996px #fff, 127px 1462px #fff, 521px 233px #fff,
    1418px 1985px #fff, 1740px 1387px #fff, 507px 1221px #fff, 80px 1000px #fff,
    1971px 801px #fff, 1647px 1778px #fff, 1616px 376px #fff, 1428px 1083px #fff,
    813px 909px #fff, 1207px 1503px #fff, 1022px 143px #fff, 1076px 1505px #fff,
    1806px 1966px #fff, 260px 245px #fff, 28px 382px #fff, 1479px 83px #fff,
    1363px 1544px #fff, 1264px 794px #fff, 1761px 788px #fff, 1110px 1654px #fff,
    683px 697px #fff, 142px 1858px #fff, 18px 869px #fff, 982px 920px #fff,
    1548px 559px #fff, 896px 1334px #fff, 390px 297px #fff, 307px 1123px #fff,
    1978px 1468px #fff, 21px 1304px #fff, 563px 480px #fff, 304px 677px #fff,
    493px 812px #fff, 1691px 587px #fff, 34px 1838px #fff, 672px 1315px #fff,
    568px 1311px #fff, 1989px 240px #fff, 550px 1918px #fff, 1180px 1892px #fff,
    1167px 1410px #fff, 160px 1864px #fff, 1728px 1156px #fff, 950px 1108px #fff,
    676px 282px #fff, 302px 1596px #fff, 246px 903px #fff, 1677px 1645px #fff,
    275px 1680px #fff, 1737px 479px #fff, 559px 788px #fff, 586px 841px #fff,
    516px 997px #fff, 588px 1758px #fff, 244px 1968px #fff, 1700px 74px #fff,
    44px 1839px #fff, 684px 976px #fff, 1420px 1275px #fff, 1598px 132px #fff,
    1670px 378px #fff, 323px 373px #fff, 397px 656px #fff, 1989px 1370px #fff,
    1068px 399px #fff, 61px 918px #fff, 1614px 800px #fff, 347px 137px #fff,
    333px 1974px #fff, 1789px 1790px #fff, 958px 1992px #fff, 1034px 1622px #fff,
    1336px 916px #fff, 1230px 1256px #fff, 1820px 863px #fff, 743px 385px #fff,
    1091px 970px #fff, 1193px 1880px #fff, 1068px 329px #fff, 848px 1002px #fff,
    1864px 987px #fff, 637px 876px #fff, 1869px 1701px #fff, 814px 1521px #fff,
    1720px 1877px #fff, 960px 97px #fff, 920px 1810px #fff, 829px 1381px #fff,
    868px 1122px #fff, 1904px 281px #fff, 1358px 1447px #fff, 1156px 459px #fff,
    1585px 1736px #fff, 1936px 413px #fff, 1855px 478px #fff, 1424px 613px #fff,
    275px 1371px #fff, 1105px 1103px #fff, 583px 1919px #fff, 96px 73px #fff,
    1575px 1652px #fff, 1922px 1242px #fff, 870px 536px #fff, 34px 260px #fff,
    1979px 1093px #fff, 1685px 982px #fff, 670px 1779px #fff, 1027px 1853px #fff,
    1922px 956px #fff, 1065px 1787px #fff, 1505px 1100px #fff, 895px 796px #fff,
    144px 1786px #fff, 1830px 1476px #fff, 1331px 169px #fff, 805px 801px #fff,
    669px 1478px #fff, 300px 773px #fff, 602px 410px #fff, 29px 839px #fff,
    1943px 399px #fff, 725px 106px #fff, 1358px 1470px #fff, 520px 1661px #fff,
    192px 1925px #fff, 1127px 454px #fff, 1384px 1082px #fff, 954px 1084px #fff,
    170px 1651px #fff, 1636px 906px #fff, 1864px 136px #fff, 549px 118px #fff,
    98px 1605px #fff, 1398px 76px #fff, 374px 194px #fff, 1710px 1515px #fff,
    1595px 1679px #fff, 958px 768px #fff, 1844px 559px #fff, 1155px 1467px #fff,
    1470px 1259px #fff, 1391px 1026px #fff, 611px 1214px #fff, 1442px 622px #fff,
    1069px 990px #fff, 563px 133px #fff, 956px 588px #fff, 847px 363px #fff,
    1471px 820px #fff, 984px 449px #fff, 1528px 1735px #fff, 649px 882px #fff,
    964px 955px #fff, 1404px 1760px #fff, 1276px 1473px #fff, 1323px 219px #fff,
    1039px 873px #fff, 549px 159px #fff, 1813px 751px #fff, 1501px 1146px #fff,
    534px 291px #fff, 592px 171px #fff, 1591px 56px #fff, 336px 1959px #fff,
    1385px 585px #fff, 1065px 213px #fff, 695px 1034px #fff, 325px 1552px #fff,
    1954px 1418px #fff, 1710px 1160px #fff, 1916px 1269px #fff,
    1644px 923px #fff, 443px 480px #fff, 1352px 402px #fff, 1573px 171px #fff,
    511px 149px #fff, 624px 919px #fff, 560px 211px #fff, 1768px 182px #fff,
    1327px 422px #fff, 523px 1492px #fff, 1862px 461px #fff, 159px 574px #fff,
    1443px 353px #fff, 1780px 617px #fff, 1215px 1341px #fff, 362px 608px #fff,
    316px 910px #fff, 1227px 592px #fff, 1995px 1289px #fff, 855px 1680px #fff,
    144px 1365px #fff, 1941px 1492px #fff, 352px 1126px #fff, 207px 1864px #fff,
    958px 279px #fff, 407px 1891px #fff, 717px 1873px #fff, 1676px 455px #fff,
    1607px 813px #fff, 936px 1216px #fff, 626px 375px #fff, 25px 1493px #fff,
    42px 475px #fff, 869px 1452px #fff, 1787px 237px #fff, 439px 863px #fff,
    1862px 628px #fff, 1821px 1699px #fff, 1253px 984px #fff, 261px 368px #fff,
    1554px 765px #fff, 366px 775px #fff, 792px 1977px #fff, 829px 748px #fff,
    1734px 117px #fff, 747px 966px #fff, 180px 1370px #fff, 522px 1382px #fff,
    164px 130px #fff, 904px 872px #fff, 581px 1458px #fff, 547px 1325px #fff,
    3px 1932px #fff, 49px 643px #fff, 1242px 395px #fff, 874px 731px #fff,
    1145px 1798px #fff, 930px 622px #fff, 356px 1317px #fff, 708px 1893px #fff,
    1240px 1463px #fff, 840px 870px #fff, 1476px 1479px #fff, 1581px 1043px #fff,
    204px 1099px #fff, 1008px 1655px #fff, 1293px 740px #fff, 505px 1713px #fff,
    481px 254px #fff, 360px 1776px #fff, 381px 921px #fff, 637px 1399px #fff,
    434px 1442px #fff, 174px 1824px #fff, 1772px 264px #fff, 875px 1839px #fff,
    1371px 1468px #fff, 1259px 881px #fff, 1937px 406px #fff, 1400px 780px #fff,
    1210px 456px #fff, 777px 1508px #fff, 529px 1865px #fff, 927px 978px #fff,
    1986px 344px #fff, 1530px 1669px #fff, 469px 302px #fff, 625px 941px #fff,
    207px 1066px #fff, 1416px 1885px #fff, 317px 1679px #fff, 1944px 848px #fff,
    363px 207px #fff, 1430px 1853px #fff, 1603px 1655px #fff, 1789px 82px #fff,
    1498px 691px #fff, 940px 1304px #fff, 1804px 1233px #fff, 1635px 1137px #fff,
    1320px 1468px #fff, 97px 1102px #fff, 1340px 399px #fff, 1329px 1890px #fff,
    625px 495px #fff, 1546px 35px #fff, 122px 1146px #fff, 1716px 1519px #fff,
    1106px 575px #fff, 1050px 1046px #fff, 1440px 1725px #fff, 420px 84px #fff,
    1358px 1853px #fff, 916px 297px #fff, 1455px 1042px #fff, 695px 378px #fff,
    215px 148px #fff, 137px 1711px #fff, 977px 694px #fff, 1084px 1819px #fff,
    1453px 314px #fff, 1227px 1744px #fff, 99px 1554px #fff, 909px 1636px #fff,
    29px 1632px #fff, 1021px 253px #fff, 723px 1069px #fff, 789px 1534px #fff,
    1870px 178px #fff, 1772px 362px #fff, 729px 1275px #fff, 1471px 1149px #fff,
    1288px 894px #fff, 3px 1364px #fff, 26px 1594px #fff, 389px 443px #fff,
    140px 1860px #fff, 492px 1189px #fff, 908px 1851px #fff, 989px 1233px #fff,
    915px 1064px #fff, 1645px 990px #fff, 756px 834px #fff, 245px 981px #fff,
    192px 1040px #fff, 1332px 1880px #fff, 587px 714px #fff, 1872px 863px #fff,
    1492px 806px #fff, 1952px 1369px #fff, 1851px 86px #fff, 1343px 627px #fff,
    1520px 1695px #fff, 1872px 1778px #fff, 1944px 683px #fff, 1207px 986px #fff,
    907px 754px #fff, 1847px 823px #fff, 1682px 1874px #fff, 1150px 428px #fff,
    879px 1637px #fff, 448px 1599px #fff, 696px 1523px #fff, 10px 1070px #fff,
    109px 677px #fff, 646px 461px #fff, 1657px 781px #fff, 1130px 1148px #fff,
    1635px 157px #fff, 474px 1226px #fff, 1770px 1186px #fff, 1122px 307px #fff,
    671px 1096px #fff, 313px 1358px #fff, 1036px 919px #fff, 1657px 64px #fff,
    714px 881px #fff, 190px 596px #fff, 1068px 1197px #fff, 590px 109px #fff,
    531px 1512px #fff, 104px 1169px #fff, 899px 1147px #fff, 470px 457px #fff,
    1511px 504px #fff, 1535px 916px #fff, 853px 1668px #fff, 559px 1623px #fff,
    34px 701px #fff, 159px 1524px #fff, 329px 1413px #fff, 33px 1396px #fff,
    1404px 1935px #fff, 1301px 595px #fff, 1847px 77px #fff, 1033px 699px #fff,
    771px 792px #fff, 887px 682px #fff, 742px 1096px #fff, 1362px 1027px #fff,
    1337px 1288px #fff, 1550px 676px #fff, 454px 112px #fff, 1443px 1581px #fff,
    279px 1652px #fff, 991px 921px #fff, 1434px 288px #fff, 664px 1274px #fff,
    1243px 1381px #fff, 607px 64px #fff, 1700px 256px #fff, 816px 906px #fff,
    1800px 1312px #fff, 662px 1164px #fff, 592px 666px #fff, 549px 1616px #fff,
    1577px 1191px #fff, 1575px 1360px #fff, 1740px 1024px #fff,
    906px 1562px #fff, 1189px 1535px #fff, 612px 755px #fff, 1382px 934px #fff,
    1804px 1653px #fff, 1899px 1845px #fff, 1597px 194px #fff, 1005px 300px #fff,
    488px 456px #fff, 1772px 1028px #fff, 442px 858px #fff, 291px 1277px #fff,
    591px 103px #fff, 1149px 1013px #fff, 280px 1628px #fff, 962px 1091px #fff,
    1255px 667px #fff, 1060px 118px #fff, 1741px 1534px #fff, 280px 555px #fff,
    1939px 1828px #fff, 695px 1005px #fff, 1954px 913px #fff, 1675px 646px #fff,
    246px 1035px #fff, 1705px 1410px #fff, 1246px 430px #fff, 252px 1616px #fff,
    1760px 227px #fff, 1432px 353px #fff, 1167px 1017px #fff, 260px 1664px #fff,
    372px 1194px #fff, 1173px 1258px #fff, 1711px 1374px #fff, 921px 1775px #fff,
    50px 125px #fff, 1320px 144px #fff, 1871px 1652px #fff, 1121px 1285px #fff,
    1763px 716px #fff, 1497px 497px #fff, 301px 640px #fff, 276px 471px #fff,
    628px 303px #fff, 1678px 980px #fff, 2px 1039px #fff, 1867px 224px #fff,
    405px 1734px #fff, 1451px 510px #fff, 576px 1954px #fff, 1949px 912px #fff,
    1744px 758px #fff, 953px 824px #fff, 546px 444px #fff, 342px 1253px #fff,
    1998px 1698px #fff, 1632px 1764px #fff, 1567px 1324px #fff,
    1029px 183px #fff, 1980px 1804px #fff, 1679px 1536px #fff, 1968px 447px #fff,
    1904px 1947px #fff, 1383px 870px #fff, 375px 420px #fff, 1514px 484px #fff,
    1214px 1294px #fff, 1628px 1192px #fff, 1655px 1236px #fff,
    1328px 1093px #fff, 891px 145px #fff, 110px 4px #fff, 402px 1532px #fff,
    657px 1062px #fff, 1921px 1311px #fff, 1285px 1708px #fff,
    1142px 1879px #fff, 48px 1548px #fff, 1666px 1919px #fff, 1634px 1202px #fff,
    1841px 406px #fff, 1590px 927px #fff, 1140px 1059px #fff, 189px 1308px #fff,
    896px 968px #fff, 1334px 1477px #fff, 586px 287px #fff, 1637px 810px #fff,
    1617px 319px #fff;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 537px 1974px #fff, 824px 1829px #fff, 279px 1279px #fff,
    1296px 663px #fff, 1271px 1678px #fff, 1450px 739px #fff, 39px 1257px #fff,
    1408px 1225px #fff, 1907px 764px #fff, 1473px 1213px #fff,
    1566px 1296px #fff, 42px 1712px #fff, 323px 836px #fff, 1515px 192px #fff,
    1973px 819px #fff, 1318px 1420px #fff, 214px 1761px #fff, 1182px 1036px #fff,
    674px 668px #fff, 1224px 1663px #fff, 1645px 492px #fff, 105px 1369px #fff,
    541px 1463px #fff, 59px 1966px #fff, 348px 978px #fff, 943px 1779px #fff,
    804px 912px #fff, 799px 1168px #fff, 149px 498px #fff, 607px 1005px #fff,
    1304px 1997px #fff, 1606px 1317px #fff, 1332px 833px #fff, 739px 1648px #fff,
    374px 867px #fff, 812px 798px #fff, 454px 324px #fff, 1814px 1381px #fff,
    1069px 290px #fff, 1052px 125px #fff, 959px 1663px #fff, 1657px 1597px #fff,
    80px 1008px #fff, 1246px 847px #fff, 28px 258px #fff, 1986px 547px #fff,
    845px 1253px #fff, 1300px 1190px #fff, 398px 119px #fff, 1075px 158px #fff,
    322px 266px #fff, 1047px 349px #fff, 652px 1154px #fff, 480px 1634px #fff,
    1956px 772px #fff, 1622px 1316px #fff, 1916px 343px #fff, 454px 461px #fff,
    89px 336px #fff, 1690px 397px #fff, 1720px 1420px #fff, 896px 1673px #fff,
    932px 1655px #fff, 1305px 201px #fff, 1956px 1443px #fff, 331px 712px #fff,
    1371px 1000px #fff, 653px 1795px #fff, 1643px 649px #fff, 1400px 1034px #fff,
    1961px 1094px #fff, 1685px 1972px #fff, 1591px 240px #fff, 526px 22px #fff,
    166px 1416px #fff, 1066px 1421px #fff, 879px 114px #fff, 613px 1933px #fff,
    1135px 1152px #fff, 1684px 523px #fff, 702px 1421px #fff, 87px 942px #fff,
    474px 1566px #fff, 11px 173px #fff, 614px 157px #fff, 1394px 1789px #fff,
    210px 752px #fff, 57px 769px #fff, 1975px 1456px #fff, 1849px 1072px #fff,
    966px 562px #fff, 980px 1539px #fff, 1810px 1406px #fff, 1044px 298px #fff,
    1090px 389px #fff, 656px 814px #fff, 1942px 1590px #fff, 1987px 486px #fff,
    1869px 651px #fff, 93px 1759px #fff, 660px 33px #fff, 787px 1950px #fff,
    1430px 900px #fff, 1041px 1022px #fff, 796px 727px #fff, 1736px 602px #fff,
    165px 998px #fff, 1682px 721px #fff, 1797px 1156px #fff, 16px 726px #fff,
    1832px 1455px #fff, 156px 1659px #fff, 274px 390px #fff, 158px 944px #fff,
    88px 1247px #fff, 1946px 1176px #fff, 1270px 1069px #fff, 248px 1888px #fff,
    335px 1506px #fff, 334px 1123px #fff, 100px 1902px #fff, 1773px 698px #fff,
    1765px 844px #fff, 658px 255px #fff, 1177px 738px #fff, 614px 390px #fff,
    1593px 1084px #fff, 957px 1456px #fff, 810px 768px #fff, 237px 1018px #fff,
    112px 1151px #fff, 1071px 635px #fff, 1939px 1624px #fff, 1858px 150px #fff,
    1957px 1556px #fff, 1831px 1715px #fff, 1377px 1128px #fff, 559px 102px #fff,
    1193px 1403px #fff, 1564px 1769px #fff, 1433px 1825px #fff,
    910px 1816px #fff, 130px 29px #fff, 267px 601px #fff, 524px 1022px #fff,
    283px 1393px #fff, 697px 162px #fff, 1450px 1573px #fff, 130px 1366px #fff,
    328px 1188px #fff, 1949px 1462px #fff, 1397px 1543px #fff, 1667px 701px #fff,
    528px 686px #fff, 1786px 1562px #fff, 190px 190px #fff, 1404px 1343px #fff,
    606px 889px #fff, 1673px 1343px #fff, 1048px 1938px #fff, 1127px 1781px #fff,
    1751px 1098px #fff, 832px 68px #fff, 366px 1673px #fff, 857px 335px #fff,
    1639px 469px #fff, 1383px 76px #fff, 694px 682px #fff, 1083px 1816px #fff,
    815px 1350px #fff, 1864px 642px #fff, 248px 224px #fff, 1474px 1703px #fff,
    68px 1453px #fff, 1525px 1427px #fff, 380px 1244px #fff, 761px 765px #fff,
    350px 1902px #fff, 1986px 1937px #fff, 239px 1355px #fff, 781px 1337px #fff,
    335px 122px #fff, 645px 339px #fff, 1449px 753px #fff, 987px 1152px #fff,
    1706px 1512px #fff, 1008px 154px #fff, 1695px 1748px #fff,
    1629px 1065px #fff, 811px 1483px #fff, 1814px 363px #fff, 1714px 1451px #fff,
    595px 1950px #fff, 1474px 1133px #fff, 420px 666px #fff, 273px 890px #fff,
    1698px 1299px #fff, 374px 1370px #fff, 1592px 797px #fff, 414px 1388px #fff,
    1507px 795px #fff, 1304px 140px #fff, 1505px 1366px #fff, 225px 514px #fff,
    997px 745px #fff, 1072px 795px #fff, 1266px 279px #fff, 1799px 763px #fff,
    336px 1395px #fff, 481px 1376px #fff, 790px 1107px #fff, 708px 1856px #fff,
    276px 1047px #fff, 1226px 1846px #fff, 458px 1454px #fff, 1770px 1755px #fff,
    415px 1685px #fff, 376px 1996px #fff, 127px 1462px #fff, 521px 233px #fff,
    1418px 1985px #fff, 1740px 1387px #fff, 507px 1221px #fff, 80px 1000px #fff,
    1971px 801px #fff, 1647px 1778px #fff, 1616px 376px #fff, 1428px 1083px #fff,
    813px 909px #fff, 1207px 1503px #fff, 1022px 143px #fff, 1076px 1505px #fff,
    1806px 1966px #fff, 260px 245px #fff, 28px 382px #fff, 1479px 83px #fff,
    1363px 1544px #fff, 1264px 794px #fff, 1761px 788px #fff, 1110px 1654px #fff,
    683px 697px #fff, 142px 1858px #fff, 18px 869px #fff, 982px 920px #fff,
    1548px 559px #fff, 896px 1334px #fff, 390px 297px #fff, 307px 1123px #fff,
    1978px 1468px #fff, 21px 1304px #fff, 563px 480px #fff, 304px 677px #fff,
    493px 812px #fff, 1691px 587px #fff, 34px 1838px #fff, 672px 1315px #fff,
    568px 1311px #fff, 1989px 240px #fff, 550px 1918px #fff, 1180px 1892px #fff,
    1167px 1410px #fff, 160px 1864px #fff, 1728px 1156px #fff, 950px 1108px #fff,
    676px 282px #fff, 302px 1596px #fff, 246px 903px #fff, 1677px 1645px #fff,
    275px 1680px #fff, 1737px 479px #fff, 559px 788px #fff, 586px 841px #fff,
    516px 997px #fff, 588px 1758px #fff, 244px 1968px #fff, 1700px 74px #fff,
    44px 1839px #fff, 684px 976px #fff, 1420px 1275px #fff, 1598px 132px #fff,
    1670px 378px #fff, 323px 373px #fff, 397px 656px #fff, 1989px 1370px #fff,
    1068px 399px #fff, 61px 918px #fff, 1614px 800px #fff, 347px 137px #fff,
    333px 1974px #fff, 1789px 1790px #fff, 958px 1992px #fff, 1034px 1622px #fff,
    1336px 916px #fff, 1230px 1256px #fff, 1820px 863px #fff, 743px 385px #fff,
    1091px 970px #fff, 1193px 1880px #fff, 1068px 329px #fff, 848px 1002px #fff,
    1864px 987px #fff, 637px 876px #fff, 1869px 1701px #fff, 814px 1521px #fff,
    1720px 1877px #fff, 960px 97px #fff, 920px 1810px #fff, 829px 1381px #fff,
    868px 1122px #fff, 1904px 281px #fff, 1358px 1447px #fff, 1156px 459px #fff,
    1585px 1736px #fff, 1936px 413px #fff, 1855px 478px #fff, 1424px 613px #fff,
    275px 1371px #fff, 1105px 1103px #fff, 583px 1919px #fff, 96px 73px #fff,
    1575px 1652px #fff, 1922px 1242px #fff, 870px 536px #fff, 34px 260px #fff,
    1979px 1093px #fff, 1685px 982px #fff, 670px 1779px #fff, 1027px 1853px #fff,
    1922px 956px #fff, 1065px 1787px #fff, 1505px 1100px #fff, 895px 796px #fff,
    144px 1786px #fff, 1830px 1476px #fff, 1331px 169px #fff, 805px 801px #fff,
    669px 1478px #fff, 300px 773px #fff, 602px 410px #fff, 29px 839px #fff,
    1943px 399px #fff, 725px 106px #fff, 1358px 1470px #fff, 520px 1661px #fff,
    192px 1925px #fff, 1127px 454px #fff, 1384px 1082px #fff, 954px 1084px #fff,
    170px 1651px #fff, 1636px 906px #fff, 1864px 136px #fff, 549px 118px #fff,
    98px 1605px #fff, 1398px 76px #fff, 374px 194px #fff, 1710px 1515px #fff,
    1595px 1679px #fff, 958px 768px #fff, 1844px 559px #fff, 1155px 1467px #fff,
    1470px 1259px #fff, 1391px 1026px #fff, 611px 1214px #fff, 1442px 622px #fff,
    1069px 990px #fff, 563px 133px #fff, 956px 588px #fff, 847px 363px #fff,
    1471px 820px #fff, 984px 449px #fff, 1528px 1735px #fff, 649px 882px #fff,
    964px 955px #fff, 1404px 1760px #fff, 1276px 1473px #fff, 1323px 219px #fff,
    1039px 873px #fff, 549px 159px #fff, 1813px 751px #fff, 1501px 1146px #fff,
    534px 291px #fff, 592px 171px #fff, 1591px 56px #fff, 336px 1959px #fff,
    1385px 585px #fff, 1065px 213px #fff, 695px 1034px #fff, 325px 1552px #fff,
    1954px 1418px #fff, 1710px 1160px #fff, 1916px 1269px #fff,
    1644px 923px #fff, 443px 480px #fff, 1352px 402px #fff, 1573px 171px #fff,
    511px 149px #fff, 624px 919px #fff, 560px 211px #fff, 1768px 182px #fff,
    1327px 422px #fff, 523px 1492px #fff, 1862px 461px #fff, 159px 574px #fff,
    1443px 353px #fff, 1780px 617px #fff, 1215px 1341px #fff, 362px 608px #fff,
    316px 910px #fff, 1227px 592px #fff, 1995px 1289px #fff, 855px 1680px #fff,
    144px 1365px #fff, 1941px 1492px #fff, 352px 1126px #fff, 207px 1864px #fff,
    958px 279px #fff, 407px 1891px #fff, 717px 1873px #fff, 1676px 455px #fff,
    1607px 813px #fff, 936px 1216px #fff, 626px 375px #fff, 25px 1493px #fff,
    42px 475px #fff, 869px 1452px #fff, 1787px 237px #fff, 439px 863px #fff,
    1862px 628px #fff, 1821px 1699px #fff, 1253px 984px #fff, 261px 368px #fff,
    1554px 765px #fff, 366px 775px #fff, 792px 1977px #fff, 829px 748px #fff,
    1734px 117px #fff, 747px 966px #fff, 180px 1370px #fff, 522px 1382px #fff,
    164px 130px #fff, 904px 872px #fff, 581px 1458px #fff, 547px 1325px #fff,
    3px 1932px #fff, 49px 643px #fff, 1242px 395px #fff, 874px 731px #fff,
    1145px 1798px #fff, 930px 622px #fff, 356px 1317px #fff, 708px 1893px #fff,
    1240px 1463px #fff, 840px 870px #fff, 1476px 1479px #fff, 1581px 1043px #fff,
    204px 1099px #fff, 1008px 1655px #fff, 1293px 740px #fff, 505px 1713px #fff,
    481px 254px #fff, 360px 1776px #fff, 381px 921px #fff, 637px 1399px #fff,
    434px 1442px #fff, 174px 1824px #fff, 1772px 264px #fff, 875px 1839px #fff,
    1371px 1468px #fff, 1259px 881px #fff, 1937px 406px #fff, 1400px 780px #fff,
    1210px 456px #fff, 777px 1508px #fff, 529px 1865px #fff, 927px 978px #fff,
    1986px 344px #fff, 1530px 1669px #fff, 469px 302px #fff, 625px 941px #fff,
    207px 1066px #fff, 1416px 1885px #fff, 317px 1679px #fff, 1944px 848px #fff,
    363px 207px #fff, 1430px 1853px #fff, 1603px 1655px #fff, 1789px 82px #fff,
    1498px 691px #fff, 940px 1304px #fff, 1804px 1233px #fff, 1635px 1137px #fff,
    1320px 1468px #fff, 97px 1102px #fff, 1340px 399px #fff, 1329px 1890px #fff,
    625px 495px #fff, 1546px 35px #fff, 122px 1146px #fff, 1716px 1519px #fff,
    1106px 575px #fff, 1050px 1046px #fff, 1440px 1725px #fff, 420px 84px #fff,
    1358px 1853px #fff, 916px 297px #fff, 1455px 1042px #fff, 695px 378px #fff,
    215px 148px #fff, 137px 1711px #fff, 977px 694px #fff, 1084px 1819px #fff,
    1453px 314px #fff, 1227px 1744px #fff, 99px 1554px #fff, 909px 1636px #fff,
    29px 1632px #fff, 1021px 253px #fff, 723px 1069px #fff, 789px 1534px #fff,
    1870px 178px #fff, 1772px 362px #fff, 729px 1275px #fff, 1471px 1149px #fff,
    1288px 894px #fff, 3px 1364px #fff, 26px 1594px #fff, 389px 443px #fff,
    140px 1860px #fff, 492px 1189px #fff, 908px 1851px #fff, 989px 1233px #fff,
    915px 1064px #fff, 1645px 990px #fff, 756px 834px #fff, 245px 981px #fff,
    192px 1040px #fff, 1332px 1880px #fff, 587px 714px #fff, 1872px 863px #fff,
    1492px 806px #fff, 1952px 1369px #fff, 1851px 86px #fff, 1343px 627px #fff,
    1520px 1695px #fff, 1872px 1778px #fff, 1944px 683px #fff, 1207px 986px #fff,
    907px 754px #fff, 1847px 823px #fff, 1682px 1874px #fff, 1150px 428px #fff,
    879px 1637px #fff, 448px 1599px #fff, 696px 1523px #fff, 10px 1070px #fff,
    109px 677px #fff, 646px 461px #fff, 1657px 781px #fff, 1130px 1148px #fff,
    1635px 157px #fff, 474px 1226px #fff, 1770px 1186px #fff, 1122px 307px #fff,
    671px 1096px #fff, 313px 1358px #fff, 1036px 919px #fff, 1657px 64px #fff,
    714px 881px #fff, 190px 596px #fff, 1068px 1197px #fff, 590px 109px #fff,
    531px 1512px #fff, 104px 1169px #fff, 899px 1147px #fff, 470px 457px #fff,
    1511px 504px #fff, 1535px 916px #fff, 853px 1668px #fff, 559px 1623px #fff,
    34px 701px #fff, 159px 1524px #fff, 329px 1413px #fff, 33px 1396px #fff,
    1404px 1935px #fff, 1301px 595px #fff, 1847px 77px #fff, 1033px 699px #fff,
    771px 792px #fff, 887px 682px #fff, 742px 1096px #fff, 1362px 1027px #fff,
    1337px 1288px #fff, 1550px 676px #fff, 454px 112px #fff, 1443px 1581px #fff,
    279px 1652px #fff, 991px 921px #fff, 1434px 288px #fff, 664px 1274px #fff,
    1243px 1381px #fff, 607px 64px #fff, 1700px 256px #fff, 816px 906px #fff,
    1800px 1312px #fff, 662px 1164px #fff, 592px 666px #fff, 549px 1616px #fff,
    1577px 1191px #fff, 1575px 1360px #fff, 1740px 1024px #fff,
    906px 1562px #fff, 1189px 1535px #fff, 612px 755px #fff, 1382px 934px #fff,
    1804px 1653px #fff, 1899px 1845px #fff, 1597px 194px #fff, 1005px 300px #fff,
    488px 456px #fff, 1772px 1028px #fff, 442px 858px #fff, 291px 1277px #fff,
    591px 103px #fff, 1149px 1013px #fff, 280px 1628px #fff, 962px 1091px #fff,
    1255px 667px #fff, 1060px 118px #fff, 1741px 1534px #fff, 280px 555px #fff,
    1939px 1828px #fff, 695px 1005px #fff, 1954px 913px #fff, 1675px 646px #fff,
    246px 1035px #fff, 1705px 1410px #fff, 1246px 430px #fff, 252px 1616px #fff,
    1760px 227px #fff, 1432px 353px #fff, 1167px 1017px #fff, 260px 1664px #fff,
    372px 1194px #fff, 1173px 1258px #fff, 1711px 1374px #fff, 921px 1775px #fff,
    50px 125px #fff, 1320px 144px #fff, 1871px 1652px #fff, 1121px 1285px #fff,
    1763px 716px #fff, 1497px 497px #fff, 301px 640px #fff, 276px 471px #fff,
    628px 303px #fff, 1678px 980px #fff, 2px 1039px #fff, 1867px 224px #fff,
    405px 1734px #fff, 1451px 510px #fff, 576px 1954px #fff, 1949px 912px #fff,
    1744px 758px #fff, 953px 824px #fff, 546px 444px #fff, 342px 1253px #fff,
    1998px 1698px #fff, 1632px 1764px #fff, 1567px 1324px #fff,
    1029px 183px #fff, 1980px 1804px #fff, 1679px 1536px #fff, 1968px 447px #fff,
    1904px 1947px #fff, 1383px 870px #fff, 375px 420px #fff, 1514px 484px #fff,
    1214px 1294px #fff, 1628px 1192px #fff, 1655px 1236px #fff,
    1328px 1093px #fff, 891px 145px #fff, 110px 4px #fff, 402px 1532px #fff,
    657px 1062px #fff, 1921px 1311px #fff, 1285px 1708px #fff,
    1142px 1879px #fff, 48px 1548px #fff, 1666px 1919px #fff, 1634px 1202px #fff,
    1841px 406px #fff, 1590px 927px #fff, 1140px 1059px #fff, 189px 1308px #fff,
    896px 968px #fff, 1334px 1477px #fff, 586px 287px #fff, 1637px 810px #fff,
    1617px 319px #fff;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 569px 93px #fff, 232px 1556px #fff, 1844px 750px #fff,
    42px 157px #fff, 1536px 559px #fff, 1718px 1953px #fff, 111px 1815px #fff,
    113px 1725px #fff, 861px 363px #fff, 1196px 1184px #fff, 552px 1570px #fff,
    1216px 798px #fff, 1032px 1392px #fff, 1705px 1883px #fff,
    1681px 1639px #fff, 1256px 1978px #fff, 584px 418px #fff, 1173px 557px #fff,
    35px 1076px #fff, 463px 1668px #fff, 1247px 978px #fff, 457px 358px #fff,
    731px 1767px #fff, 1413px 474px #fff, 1834px 787px #fff, 1896px 367px #fff,
    1587px 625px #fff, 752px 1566px #fff, 1739px 1507px #fff, 943px 432px #fff,
    294px 1948px #fff, 557px 397px #fff, 1725px 319px #fff, 680px 862px #fff,
    658px 1656px #fff, 1605px 1076px #fff, 1138px 76px #fff, 1304px 489px #fff,
    23px 454px #fff, 319px 585px #fff, 999px 1068px #fff, 1801px 1800px #fff,
    968px 1855px #fff, 637px 1661px #fff, 1115px 833px #fff, 1738px 1758px #fff,
    1022px 1458px #fff, 1627px 61px #fff, 980px 1303px #fff, 611px 775px #fff,
    1188px 1096px #fff, 897px 300px #fff, 87px 1289px #fff, 1008px 302px #fff,
    756px 256px #fff, 1490px 211px #fff, 619px 123px #fff, 1853px 216px #fff,
    524px 780px #fff, 122px 1236px #fff, 1700px 950px #fff, 1477px 677px #fff,
    1765px 1945px #fff, 391px 1764px #fff, 778px 1221px #fff, 1901px 1791px #fff,
    1457px 276px #fff, 1627px 386px #fff, 862px 1086px #fff, 507px 13px #fff,
    800px 1346px #fff, 165px 354px #fff, 434px 1481px #fff, 175px 858px #fff,
    184px 1595px #fff, 1532px 670px #fff, 10px 1020px #fff, 1461px 1418px #fff,
    1168px 1023px #fff, 1676px 1479px #fff, 790px 1334px #fff, 200px 906px #fff,
    67px 1198px #fff, 290px 388px #fff, 1951px 136px #fff, 1996px 1428px #fff,
    1693px 1246px #fff, 469px 1512px #fff, 1744px 1417px #fff, 398px 134px #fff,
    1519px 1123px #fff, 1263px 957px #fff, 169px 1728px #fff, 506px 1496px #fff,
    1445px 1225px #fff, 1703px 569px #fff, 424px 894px #fff, 1049px 538px #fff,
    1113px 825px #fff, 1724px 1571px #fff, 643px 1810px #fff, 1121px 1467px #fff,
    1658px 388px #fff, 1650px 332px #fff, 632px 1751px #fff, 1210px 360px #fff,
    1906px 1130px #fff, 285px 1148px #fff, 760px 761px #fff, 1702px 1859px #fff,
    792px 1205px #fff, 208px 159px #fff, 1151px 276px #fff, 418px 557px #fff,
    1142px 2000px #fff, 1571px 221px #fff, 24px 915px #fff, 403px 24px #fff,
    1753px 976px #fff, 1380px 861px #fff, 392px 1276px #fff, 1164px 746px #fff,
    1951px 1832px #fff, 96px 1972px #fff, 755px 498px #fff, 1590px 1895px #fff,
    1827px 1559px #fff, 277px 463px #fff, 468px 714px #fff, 3px 1725px #fff,
    828px 1570px #fff, 1650px 1616px #fff, 1452px 997px #fff, 1357px 109px #fff,
    1871px 640px #fff, 300px 1381px #fff, 1521px 975px #fff, 207px 94px #fff,
    1310px 1375px #fff, 122px 1512px #fff, 621px 952px #fff, 208px 1462px #fff,
    934px 1766px #fff, 1422px 1647px #fff, 1281px 1052px #fff, 513px 1370px #fff,
    1885px 330px #fff, 1364px 355px #fff, 1365px 1801px #fff, 1517px 1011px #fff,
    1311px 147px #fff, 1181px 760px #fff, 209px 142px #fff, 1406px 1344px #fff,
    539px 1759px #fff, 702px 453px #fff, 1461px 923px #fff, 1214px 658px #fff,
    129px 548px #fff, 1094px 924px #fff, 1635px 1921px #fff, 133px 1231px #fff,
    302px 390px #fff, 781px 1805px #fff, 1995px 694px #fff, 248px 482px #fff,
    1481px 1580px #fff, 637px 297px #fff, 1772px 1676px #fff, 613px 684px #fff,
    1777px 465px #fff, 862px 394px #fff, 1581px 1905px #fff, 1069px 1991px #fff,
    77px 122px #fff, 1937px 1142px #fff, 6px 719px #fff, 1036px 984px #fff,
    278px 1518px #fff, 1450px 932px #fff, 825px 78px #fff, 545px 1768px #fff,
    243px 46px #fff, 516px 1629px #fff, 1909px 112px #fff, 1939px 643px #fff,
    1473px 1097px #fff, 1981px 892px #fff, 784px 1279px #fff, 522px 1384px #fff,
    405px 1241px #fff, 1478px 1082px #fff, 1334px 577px #fff, 1019px 1392px #fff,
    917px 212px #fff, 13px 922px #fff, 944px 1029px #fff, 482px 151px #fff,
    986px 619px #fff, 349px 1138px #fff;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 569px 93px #fff, 232px 1556px #fff, 1844px 750px #fff,
    42px 157px #fff, 1536px 559px #fff, 1718px 1953px #fff, 111px 1815px #fff,
    113px 1725px #fff, 861px 363px #fff, 1196px 1184px #fff, 552px 1570px #fff,
    1216px 798px #fff, 1032px 1392px #fff, 1705px 1883px #fff,
    1681px 1639px #fff, 1256px 1978px #fff, 584px 418px #fff, 1173px 557px #fff,
    35px 1076px #fff, 463px 1668px #fff, 1247px 978px #fff, 457px 358px #fff,
    731px 1767px #fff, 1413px 474px #fff, 1834px 787px #fff, 1896px 367px #fff,
    1587px 625px #fff, 752px 1566px #fff, 1739px 1507px #fff, 943px 432px #fff,
    294px 1948px #fff, 557px 397px #fff, 1725px 319px #fff, 680px 862px #fff,
    658px 1656px #fff, 1605px 1076px #fff, 1138px 76px #fff, 1304px 489px #fff,
    23px 454px #fff, 319px 585px #fff, 999px 1068px #fff, 1801px 1800px #fff,
    968px 1855px #fff, 637px 1661px #fff, 1115px 833px #fff, 1738px 1758px #fff,
    1022px 1458px #fff, 1627px 61px #fff, 980px 1303px #fff, 611px 775px #fff,
    1188px 1096px #fff, 897px 300px #fff, 87px 1289px #fff, 1008px 302px #fff,
    756px 256px #fff, 1490px 211px #fff, 619px 123px #fff, 1853px 216px #fff,
    524px 780px #fff, 122px 1236px #fff, 1700px 950px #fff, 1477px 677px #fff,
    1765px 1945px #fff, 391px 1764px #fff, 778px 1221px #fff, 1901px 1791px #fff,
    1457px 276px #fff, 1627px 386px #fff, 862px 1086px #fff, 507px 13px #fff,
    800px 1346px #fff, 165px 354px #fff, 434px 1481px #fff, 175px 858px #fff,
    184px 1595px #fff, 1532px 670px #fff, 10px 1020px #fff, 1461px 1418px #fff,
    1168px 1023px #fff, 1676px 1479px #fff, 790px 1334px #fff, 200px 906px #fff,
    67px 1198px #fff, 290px 388px #fff, 1951px 136px #fff, 1996px 1428px #fff,
    1693px 1246px #fff, 469px 1512px #fff, 1744px 1417px #fff, 398px 134px #fff,
    1519px 1123px #fff, 1263px 957px #fff, 169px 1728px #fff, 506px 1496px #fff,
    1445px 1225px #fff, 1703px 569px #fff, 424px 894px #fff, 1049px 538px #fff,
    1113px 825px #fff, 1724px 1571px #fff, 643px 1810px #fff, 1121px 1467px #fff,
    1658px 388px #fff, 1650px 332px #fff, 632px 1751px #fff, 1210px 360px #fff,
    1906px 1130px #fff, 285px 1148px #fff, 760px 761px #fff, 1702px 1859px #fff,
    792px 1205px #fff, 208px 159px #fff, 1151px 276px #fff, 418px 557px #fff,
    1142px 2000px #fff, 1571px 221px #fff, 24px 915px #fff, 403px 24px #fff,
    1753px 976px #fff, 1380px 861px #fff, 392px 1276px #fff, 1164px 746px #fff,
    1951px 1832px #fff, 96px 1972px #fff, 755px 498px #fff, 1590px 1895px #fff,
    1827px 1559px #fff, 277px 463px #fff, 468px 714px #fff, 3px 1725px #fff,
    828px 1570px #fff, 1650px 1616px #fff, 1452px 997px #fff, 1357px 109px #fff,
    1871px 640px #fff, 300px 1381px #fff, 1521px 975px #fff, 207px 94px #fff,
    1310px 1375px #fff, 122px 1512px #fff, 621px 952px #fff, 208px 1462px #fff,
    934px 1766px #fff, 1422px 1647px #fff, 1281px 1052px #fff, 513px 1370px #fff,
    1885px 330px #fff, 1364px 355px #fff, 1365px 1801px #fff, 1517px 1011px #fff,
    1311px 147px #fff, 1181px 760px #fff, 209px 142px #fff, 1406px 1344px #fff,
    539px 1759px #fff, 702px 453px #fff, 1461px 923px #fff, 1214px 658px #fff,
    129px 548px #fff, 1094px 924px #fff, 1635px 1921px #fff, 133px 1231px #fff,
    302px 390px #fff, 781px 1805px #fff, 1995px 694px #fff, 248px 482px #fff,
    1481px 1580px #fff, 637px 297px #fff, 1772px 1676px #fff, 613px 684px #fff,
    1777px 465px #fff, 862px 394px #fff, 1581px 1905px #fff, 1069px 1991px #fff,
    77px 122px #fff, 1937px 1142px #fff, 6px 719px #fff, 1036px 984px #fff,
    278px 1518px #fff, 1450px 932px #fff, 825px 78px #fff, 545px 1768px #fff,
    243px 46px #fff, 516px 1629px #fff, 1909px 112px #fff, 1939px 643px #fff,
    1473px 1097px #fff, 1981px 892px #fff, 784px 1279px #fff, 522px 1384px #fff,
    405px 1241px #fff, 1478px 1082px #fff, 1334px 577px #fff, 1019px 1392px #fff,
    917px 212px #fff, 13px 922px #fff, 944px 1029px #fff, 482px 151px #fff,
    986px 619px #fff, 349px 1138px #fff;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 692px 1713px #fff, 1416px 372px #fff, 464px 1834px #fff,
    1967px 1274px #fff, 359px 1196px #fff, 1028px 734px #fff, 1037px 846px #fff,
    416px 1872px #fff, 1622px 1347px #fff, 349px 402px #fff, 1920px 1972px #fff,
    1911px 1585px #fff, 1787px 1424px #fff, 1090px 677px #fff, 1013px 681px #fff,
    319px 181px #fff, 426px 126px #fff, 471px 632px #fff, 297px 714px #fff,
    1229px 1891px #fff, 7px 992px #fff, 1566px 1857px #fff, 174px 896px #fff,
    1308px 949px #fff, 1427px 533px #fff, 1912px 609px #fff, 1805px 1313px #fff,
    1936px 1153px #fff, 252px 1718px #fff, 1068px 1767px #fff, 595px 1378px #fff,
    1263px 1880px #fff, 1696px 777px #fff, 196px 1586px #fff, 280px 703px #fff,
    856px 297px #fff, 688px 833px #fff, 310px 1398px #fff, 393px 447px #fff,
    1226px 504px #fff, 862px 945px #fff, 365px 917px #fff, 1899px 1630px #fff,
    1964px 741px #fff, 1932px 596px #fff, 1358px 1466px #fff, 835px 1089px #fff,
    1856px 454px #fff, 1676px 359px #fff, 711px 13px #fff, 507px 172px #fff,
    621px 232px #fff, 1365px 830px #fff, 1051px 1258px #fff, 953px 1972px #fff,
    1944px 1840px #fff, 1708px 1092px #fff, 1210px 1494px #fff,
    850px 1559px #fff, 1322px 1169px #fff, 1186px 1934px #fff,
    1253px 1659px #fff, 1773px 1845px #fff, 42px 1424px #fff, 605px 1639px #fff,
    1099px 848px #fff, 434px 1891px #fff, 1326px 1716px #fff, 84px 369px #fff,
    1127px 501px #fff, 1587px 616px #fff, 826px 1534px #fff, 1951px 1542px #fff,
    357px 604px #fff, 391px 511px #fff, 1305px 1350px #fff, 384px 933px #fff,
    452px 1445px #fff, 1958px 1032px #fff, 154px 284px #fff, 428px 1243px #fff,
    528px 610px #fff, 1048px 1914px #fff, 50px 48px #fff, 562px 1397px #fff,
    1644px 1746px #fff, 1055px 1467px #fff, 374px 195px #fff, 772px 97px #fff,
    446px 377px #fff, 1011px 375px #fff, 559px 1934px #fff, 1381px 1949px #fff,
    1418px 491px #fff, 413px 223px #fff, 771px 611px #fff, 1115px 23px #fff,
    1319px 346px #fff, 274px 1081px #fff, 1641px 1525px #fff;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: ' ';
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 692px 1713px #fff, 1416px 372px #fff, 464px 1834px #fff,
    1967px 1274px #fff, 359px 1196px #fff, 1028px 734px #fff, 1037px 846px #fff,
    416px 1872px #fff, 1622px 1347px #fff, 349px 402px #fff, 1920px 1972px #fff,
    1911px 1585px #fff, 1787px 1424px #fff, 1090px 677px #fff, 1013px 681px #fff,
    319px 181px #fff, 426px 126px #fff, 471px 632px #fff, 297px 714px #fff,
    1229px 1891px #fff, 7px 992px #fff, 1566px 1857px #fff, 174px 896px #fff,
    1308px 949px #fff, 1427px 533px #fff, 1912px 609px #fff, 1805px 1313px #fff,
    1936px 1153px #fff, 252px 1718px #fff, 1068px 1767px #fff, 595px 1378px #fff,
    1263px 1880px #fff, 1696px 777px #fff, 196px 1586px #fff, 280px 703px #fff,
    856px 297px #fff, 688px 833px #fff, 310px 1398px #fff, 393px 447px #fff,
    1226px 504px #fff, 862px 945px #fff, 365px 917px #fff, 1899px 1630px #fff,
    1964px 741px #fff, 1932px 596px #fff, 1358px 1466px #fff, 835px 1089px #fff,
    1856px 454px #fff, 1676px 359px #fff, 711px 13px #fff, 507px 172px #fff,
    621px 232px #fff, 1365px 830px #fff, 1051px 1258px #fff, 953px 1972px #fff,
    1944px 1840px #fff, 1708px 1092px #fff, 1210px 1494px #fff,
    850px 1559px #fff, 1322px 1169px #fff, 1186px 1934px #fff,
    1253px 1659px #fff, 1773px 1845px #fff, 42px 1424px #fff, 605px 1639px #fff,
    1099px 848px #fff, 434px 1891px #fff, 1326px 1716px #fff, 84px 369px #fff,
    1127px 501px #fff, 1587px 616px #fff, 826px 1534px #fff, 1951px 1542px #fff,
    357px 604px #fff, 391px 511px #fff, 1305px 1350px #fff, 384px 933px #fff,
    452px 1445px #fff, 1958px 1032px #fff, 154px 284px #fff, 428px 1243px #fff,
    528px 610px #fff, 1048px 1914px #fff, 50px 48px #fff, 562px 1397px #fff,
    1644px 1746px #fff, 1055px 1467px #fff, 374px 195px #fff, 772px 97px #fff,
    446px 377px #fff, 1011px 375px #fff, 559px 1934px #fff, 1381px 1949px #fff,
    1418px 491px #fff, 413px 223px #fff, 771px 611px #fff, 1115px 23px #fff,
    1319px 346px #fff, 274px 1081px #fff, 1641px 1525px #fff;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
