@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Literata:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@400;500;600&display=swap');
.App {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
}
.marginRight {
  margin-right: 15px;
}
/*STYLO DE LOS BLOQUES*/
.ce-toolbox,
.ce-seetings {
  color: #00000051;
}
